@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #061525;
  color: white;
  font-family: system-ui, sans-serif;
}

a {
  color: #f472b6;
}

a:hover {
  text-decoration: underline;
}
